<h1>All the Teams!</h1>
<table>
	<tr>
		<th>Team Name</th>
		<th>Sport</th>
	</tr>
	
	<% @teams.each do |team| %>
	
	<tr>
		<td><%= link_to team.name, team_url(team) %></td>
		<td><%= team.sport %></td>
	</tr>
	
	<% end %>
	
</table>

<%= link_to "Add a New Team", new_team_url %>