// Place all the styles related to the lineups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-row {
	border-top: 3px solid #B6B6B6;
}

.lineup-position {
	border-radius: 15px;
	height: 35px;
	margin: 1px;

}

#positions {
		border-left: solid 1px #B6B6B6;
}

.lineup-description {
	color: white;
	height: 100%;
	border-right: solid gray;
	background-color: #757575;
	cursor: move;
}

.lineup-assignment { height: 100%;	background-color: #FFFFFF; }

.available-player {
	margin: 5px;
	width: 225px;
	height: 35px;
	border-radius: 5px;
	border: 2px solid;
	color: black;
	padding: 2px;
	text-align: center;
	cursor: move;
}


.ui-widget-header p, .ui-widget-content p { margin: 0; }

.position-form {
	width: 100%;
}

#sortable-positions {
	list-style: none;
}