// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avail-div {
  position: relative;
  top: 20px;
  left: 20px;
  background-color: red;
  width: 100px;
}
