// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.choose-avail {
  position: relative;
	width: 100px;
	top: -50px;
	height: 75px;
	background-color: #DEE6F7;
	border: solid 1px gray;
	border-radius: 5px;
	padding: 5px;
}*/

.player-availability {
	width: 85%;
}

.update-avail-btn {
	width: 100%;
}
.avail-btn {
	overflow: hidden;
}

.btn-warning, .btn-danger, .btn-success, .btn-info {
	width: 100%;
}